@tailwind base;

@tailwind components;
body, html, #app {
  height: 100%; /* makes the footer sticked to bottom */
}

@tailwind utilities;


/*@responsive {
  .c-bg-gray-product {
    background-Color: #222222;
  }
}*/