# 一行代表一种格式的设置, 此文件最后一行必须是空行, # 表示注释行
# 编辑于2021/07/02
#
# 图片格式
#
# 格式: .dng
me.zhiquan.mac.Picsee    com.adobe.raw-image  all
#
# 格式: .psd  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    com.adobe.photoshop-image  all
#
# 格式: .cr2
me.zhiquan.mac.Picsee    com.canon.cr2-raw-image  all
#
# 格式: .ico
me.zhiquan.mac.Picsee    com.microsoft.ico  all
#
# 格式: .tga
me.zhiquan.mac.Picsee    com.truevision.tga-image  all
#
# 格式: .raf
me.zhiquan.mac.Picsee    com.fuji.raw-image  all
#
# 格式: .exr
me.zhiquan.mac.Picsee    com.ilm.openexr-image  all
#
# 格式: .tiff
me.zhiquan.mac.Picsee    public.tiff  all
#
# 格式: .pict
me.zhiquan.mac.Picsee    com.apple.pict  all
#
# 格式: .nef
me.zhiquan.mac.Picsee    com.nikon.raw-image  all
#
# 格式: .jpeg
me.zhiquan.mac.Picsee    public.jpeg  all
#
# 格式: .dds
me.zhiquan.mac.Picsee    com.microsoft.dds  all
#
# 格式: .pbm
me.zhiquan.mac.Picsee    public.pbm  all
#
# 格式: .heif
me.zhiquan.mac.Picsee    public.heif  all
#
# 格式: .jp2
me.zhiquan.mac.Picsee    public.jpeg-2000  all
#
# 格式: .pic
me.zhiquan.mac.Picsee    public.radiance  all
#
# 格式: .sgi
me.zhiquan.mac.Picsee    com.sgi.sgi-image  all
#
# 格式: .gif
me.zhiquan.mac.Picsee    com.compuserve.gif  all
#
# 格式: .nrw
me.zhiquan.mac.Picsee    com.nikon.nrw-raw-image  all
#
# 格式: .heic
me.zhiquan.mac.Picsee    public.heic  all
#
# 格式: .bmp
me.zhiquan.mac.Picsee    com.microsoft.bmp  all
#
# 格式: .pbm
me.zhiquan.mac.Picsee    net.sourceforge.netpbm.netpbm-image  all
#
# 格式: .rw2
me.zhiquan.mac.Picsee    com.panasonic.rw2-raw-image  all
#
# 格式: .png
me.zhiquan.mac.Picsee    public.png  all
#
# 格式: .pef
me.zhiquan.mac.Picsee    com.pentax.raw-image  all
#
# 格式: .orf
me.zhiquan.mac.Picsee    com.olympus.raw-image  all
#
# 格式: .webp
me.zhiquan.mac.Picsee    public.webp  all
#
# 格式: .svg
me.zhiquan.mac.Picsee    public.svg-image  all
#
# 视频格式: 默认都是关闭
#
# 格式: .mkv  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    io.iina.mkv  all
#
# 格式: .3gp  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.3gpp  all
#
# 格式: .mts  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.avchd-mpeg-2-transport-stream  all
#
# 格式: .avi  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.avi  all
#
# 格式: .mp4  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.mpeg-4  all
#
# 格式: .wtv  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    io.iina.wtv  all
#
# 格式: .ogm  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    org.xiph.ogv  all
#
# 格式: .mxf  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    org.smpte.mxf  all
#
# 格式: .hevc  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    io.mpv.hevc  all
#
# 格式: .mov  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    com.apple.quicktime-movie  all
#
# 格式: .vob  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    io.iina.vob  all
#
# 格式: .wmv  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    com.microsoft.windows-media-wmv  all
#
# 格式: .mpeg  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.mpeg  all
#
# 格式: .m4v  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    com.apple.m4v-video  all
#
# 格式: .flv  默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    com.adobe.flash.video  all
#
# 格式: .3g2 默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.3gpp2  all
#
# 格式: .webm 默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    org.webmproject.webm  all
#
# 格式: .m2v 默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.mpeg-2-video  all
#
# 格式: .ts 默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    public.mpeg-2-transport-stream  all
#
# 格式: .ogm 默认是关闭的, 如果想开启去掉"# "
# me.zhiquan.mac.Picsee    org.xiph.ogv  all
#
# 如果需要添加其他格式，复制一行，修改"public.png"为对应格式的UTI, UTI通过mdls命令获取
#


